html, body{
	width: 100%;
	height: 100%;
	
	background-color: #e5e5ff;
	margin: 0px;
}

.page{
	position: relative;
	left: 15%;
	width: 70%;
	top: 5%;
	margin-bottom: 5%;
	
	border: 2px solid black;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	
	-moz-box-shadow: 5px 5px 5px 0px #999999;
	-webkit-box-shadow: 5px 5px 5px 0px #999999;
	box-shadow: 5px 5px 5px 0px #999999;
	
	background-color: #ffffff;
}

.title{
	font-size: 50px;
	margin-left: 30px;
}

.tagline{
	font-style: italic;
	font-family: Georgia;
	font-size: 20px;
	letter-spacing: -.5px;
	margin-left: 60px;
}

.sliderContainer{
	width: 100%;
	max-height: 350px;
	
	background-color: #000000;
}

.titleSlider{
	max-height: 350px;
	max-width: 1000px;
	
	margin: auto; 
	margin-top: 20px;
	
	background-color: #000000;
}

.menuBar{
	width: 100%;
	height: 50px;
	
	display: table;
	
	background-color: black;
	background: -webkit-linear-gradient(#4d4d4d, #000000);
	background: -o-linear-gradient(#4d4d4d, #000000);
	background: -moz-linear-gradient(#4d4d4d, #000000);
	background: linear-gradient(#4d4d4d, #000000);
}

.menuButton{
	height: 100%;
	
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	font-size: 30px;
	
	font-weight: bold;
	color: white;
	text-decoration: none;
	float: left;
	background: -webkit-linear-gradient(#595959, #0d0d0d);
	background: -o-linear-gradient(#595959, #0d0d0d);
	background: -moz-linear-gradient(#595959, #0d0d0d);
	background: linear-gradient(#595959, #0d0d0d);
}

.menuButton:hover{
	background: -webkit-linear-gradient(#808080, #4d4d4d);
	background: -o-linear-gradient(#808080, #4d4d4d);
	background: -moz-linear-gradient(#808080, #4d4d4d);
	background: linear-gradient(#808080, #4d4d4d);
}

.highlight{
	background: -webkit-linear-gradient(#808080, #4d4d4d);
	background: -o-linear-gradient(#808080, #4d4d4d);
	background: -moz-linear-gradient(#808080, #4d4d4d);
	background: linear-gradient(#808080, #4d4d4d);
}

.pageHeader{
	font-size: 30px;
	font-weight: bold;
}

.content{
	padding: 30px;
}

.award{
	font-style: italic;
	font-weight: bold;
}

.hr{
	height: 2px;
	width: 100%;
	margin-top: 10px;
	background-color: black;
}

.footer{
	width: 100%;
	text-align: center;
}

/* the portfolio images */
img.oilPainting{
	width: 500px;
}

img.albumCover{
	width: 335px;
}

img.paintball{
	width: 695px;
	max-width: 100%;
}

.paintballContainer {
	width: 695px;
	margin: auto;
	margin-top: 30px;
	max-width: 100%;
}

.youtubeContainer{
	width: 560px;
	height: 315px;
	margin: auto;
	margin-top: 30px;
	max-width: 100%;
	margin-bottom: 30px;
}

img.city, img.neonCity{
	width: 400px;
	/*margin-top: 30px;*/
}

iframe{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	height: 100%;
}

/* they cannot cover more than 50% of the parent */
img.city, img.albumCover, img.neonCity, img.oilPainting{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.mainContainer{
	width:100%;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.row{
	display: inline-block;
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: middle;
	display : flex;
}

.imageRow{
	margin-top: 30px;
}

.imageDescription{
	text-align: right !important;
}

.smallerImage{
	width: 40% !important;
}

.largerImage{
	width: 59.5% !important;
}

.imageContainers{
	width: 50%;
	float: left;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 5px;
}

/* home image */

img.astroids{
	width: 160px;
	height: 400px;
	
	float: right;
}

/* home text must have a limit also the height must be minimum of nearly the image height */
.homeText{
	width: 75%;
	min-height: 350px;
}
